<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
</head>
<body>
	<h3> All Contacts </h3>
	<ul>
	<% @contacts.each do |contact| %>
    <table>
  		  <tr>
          <li class="contact">
            <td><a class="contactlink" href="/contacts/<%= contact.id %>"><%= contact.first_name %></a>
            </td>
            <td><a class="contactlink" href="/contacts/<%= contact.id %>"> <%= contact.last_name %> </a>
            </td>
            <td><a class="edit"> Edit </a>
            </td>
            <td><a class="delete"> <form action="/contacts/<%= contact.id %>" method="post">
                                      <input type="hidden" name="_method" value="delete">
                                      <input type="submit" name="Delete Contact">
                                    </form>
                </a>
            </td>
  		    </li>
        </tr>
      </table>
  	<% end %>
	</ul>

</body>
</html>