
<ul>
  <li><strong> First Name: </strong><%= @contact.first_name %></li>
  <li><strong> Last Name: </strong><%= @contact.last_name %></li>
  <li><strong> Email: </strong><%= @contact.email %></li>
  <li><strong> Note: </strong><%= @contact.note %></li>
</ul>


<h1><%= @contact.first_name %> <%= @contact.last_name %></h1>
<p><strong>Email:</strong> <%= @contact.email %></p>
<p><strong>Note:</strong></p>
<p><%= @contact.note %></p>

<form action="/contacts/<%= @contact.id %>" method="post">
  <input type="hidden" name="_method" value="delete">
  <input type="submit" name="Delete Contact">
</form>